/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser */

/*the * applies style to everything */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* when we apply a height to our boxes it will be applied to everything including our border */
}

/* General Styles*/
body{
    min-height: 100vh; /* allows it to stretch higher than the browser page when there is enough height to do so */

    display: flex;
    flex-direction: column;

    /*generic project styles*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #ffffff;
    padding:0 1rem; /*stops text from sticking to side*/
    position: fixed; /*so it waits at top*/
    z-index: 99; /* so it waits on top of any other items with a z index */
    width: 100%; /*to fit width of screen*/
    box-shadow: 0 2px 2px #3a3a3a;
}

header a {
    text-decoration: none;
    color: inherit; /*takes color from body*/
}

h1{
    font-family:'Oswald',sans-serif ;
    text-transform: uppercase;
    letter-spacing: 2px;/*provides breathing space between letters*/
    color: #252525;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar Styles with dropdown toggle*/

nav{
    position: absolute; /*Absolute positioning takes an element outside the normal
    flow of the page structure.
    It is positioned relative to the nearest positioned ancestor
    in our case, the header.*/

    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
}
main{
    background-color: lightblue;

    /*Make main element take up any surplus space to push footer down */
    
    flex: 1 0 auto;

}

footer {
    background-color: orange;
}