/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser */

/*the * applies style to everything */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* when we apply a height to our boxes it will be applied to everything including our border */
}

/* General Styles*/
body{
    min-height: 100vh; /* allows it to stretch higher than the browser page when there is enough height to do so */

    display: flex;
    flex-direction: column;

    /*generic project styles*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #ffffff;
    padding:0 1rem; /*stops text from sticking to side*/
    position: fixed; /*so it waits at top*/
    z-index: 99; /* so it waits on top of any other items with a z index */
    width: 100%; /*to fit width of screen*/
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;/*make flex items show in a row*/
    justify-content: space-between;
    align-items: baseline;/* align items vertically*/
}

header a {
    text-decoration: none;
    color: inherit; /*takes color from body*/
}

h1{
    font-family:'Oswald',sans-serif ;
    text-transform: uppercase;
    letter-spacing: 2px;/*provides breathing space between letters*/
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar Styles with dropdown toggle*/

nav {
    position: absolute; /*Absolute positioning takes an element outside the normal
    flow of the page structure.
    It is positioned relative to the nearest positioned ancestor
    in our case, the header.*/

    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%; /*the top of the element should start at the bottom of its parent */
}

/*Nav toggle */

/* ~ indicates we want to target the adjoining element */

#nav-toggle:checked~nav {
    display: block;
}

/*remove checkbox*/
#nav-toggle{ 
    display: none;
}

.nav-toggle-label{
    font-size: 2rem;
}

main{
    background-color: lightblue;

    /*Make main element take up any surplus space to push footer down */
    
    flex: 1 0 auto;
    margin-top: 47px;

}

/*Footer*/
#social-networks{
    text-align: center; /*as our icons are basically our font, this will center them */
    padding: 20px 0; /*Add vertical breathing space above and below icons */
    display: flex; /*space our icons evenly along the footer */
    justify-content: space-evenly;
    list-style-type: none; /*gets rid of bullets beside icons */
}

/* Font Awesom uses i class for icons so we need to style the icons so we target the i's that are direct desendants of the social-networks */

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;

}

/*Media query: tablets and larger (768px and up) */
@media screen  and (min-width:768px) {

    /*Header*/
    nav{
        display: block;
        position: relative;  /* to put in back inside header*/
        box-shadow: none;
        width: fit-content;  /* So it doesnt take up all the header*/
        padding-right: 1rem;
    }

    #menu{
        display: flex; /* puts links in a row */
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px; /* give more space at top */
        margin: 0 0.5rem;
    }

    /*Main content*/
    main{
        /* Push main content down to accomodate larger header */
        margin-top: 79px;

    }
}

@media screen and (min-width:992px){

    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}