/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser */

/*the * applies style to everything */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* when we apply a height to our boxes it will be applied to everything including our border */
}

/* General Styles*/
body{
    min-height: 100vh; /* allows it to stretch higher than the browser page when there is enough height to do so */

    display: flex;
    flex-direction: column;

    /*generic project styles*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: lightcoral;
}

h1{
    font-family:'Oswald',sans-serif ;
}
main{
    background-color: lightblue;

    /*Make main element take up any surplus space to push footer down */
    
    flex: 1 0 auto;

}

footer {
    background-color: orange;
}